


// Padding

$base-padding: 24px;

// Colors
$primary: #0f80f9;

$backgroundColor: #141415;
$containerColorLight: #212122;
$containerColorDark: #000000;

$textColor: white;

// animations

$button-animation-time: 250ms;
$button-transition: background-color 250ms, color 250ms;
