


// Padding

$base-padding: 24px;

// Colors
$primary: #f4c544;

$backgroundColor: #141415;
$containerColorLight: #212122;
$containerColorDark: #000000;

$textColor: white;

// animations

$button-animation-time: 500ms;
$button-transition: background-color 750ms, color 750ms;
