


// Padding

$base-padding: 24px;

// Colors
$primary: #f4c544;

$backgroundColor: #141415;
$containerColorLight: #212122;
$containerColorDark: #000000;
$descriptionBg: #3c6382;

$textColor: white;

// animations

$button-animation-time: 500ms;
$button-transition: background-color 750ms, color 750ms;


$fade-fill-mode: forwards;
$fade-duration: 0.3s;

@keyframes fade-out{
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fade-in{
  from {opacity: 0;}
  to {opacity: 1;}
}

$fade-in: fade-in $fade-duration $fade-fill-mode;
$fade-out: fade-out $fade-duration $fade-fill-mode;